<h2>Edit course</h2>

<form action="/courses/{{id}}?_method=put" method="POST">
  <p>
    <label for="title">Course:</label>
    <input type="text" value="{{title}}" name="title">
  </p>
  <p>
    <label for="complete">Instructor:</label>
  </p>
  <input type="submit" value="Update">
</form>